
body {
    background-color: rgb(94, 83, 83);
    background-image: url("../images/ludo.jpg");
    background-position: center;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50vh;
    text-align: center;
}

.container1 {
    margin-top: 0;
    margin-left: 45vw;
    text-align: center;
}

.theImg{
    width: 15vw;
    max-width: 100px;
    height: auto;
    cursor: pointer;
}
.theImg1 {
    width: 15vw;
    max-width: 100px;
    height: auto;
    cursor: pointer;
}
